.logoValorant > img{
    height: 50px;
}


/* todo: mettre le header en fixed en haut de la page */
header {
    background-color: black;
}

a {
    text-decoration: none;
    color: black;
}

.logoValorant {
    background-color: black;
    width: 100%;
    position:fixed;
    z-index: 1;
}