body {
    margin: 0;
    font-family: "FF Mark W05", Arial, sans-serif;
    background-color: #eee;
}

.agents > img{
    height: 300px;
}

.agents, .armes {
    background-color: #ff4655;
}

.cartes, .ranks, .actu {
    background-color: #eee;
}

h2 {
    margin: 0px;
    padding: 20px;
}

.actu > div > p:last-child {
    margin-bottom: 0;
    padding-bottom: 10px;
}

.actu, .agents, .armes, .cartes, .ranks {
    text-align: center;
}

.actu h2{
    color: red;
}

.imageSize img{
    width: 60%;
}

.imageImmortalSize img{
    width: 30%;
}

button {
    margin: 20px;
    padding: 20px;
}

i {
    margin: 20px;
}

.cartes button, .ranks button{
    background-color: #ff4655;
}

.cartes button:hover, .ranks button:hover{
    background-color: #ff3040;
    cursor: pointer;
}

.agents button, .armes button{
    background-color: #eee;
}

.agents button:hover, .armes button:hover{
    background-color: #ccc;
    cursor: pointer;
}

.actu h2 {
    padding-top: 70px;
}

@media screen and (min-width:1024px) {
    .actuContent, .agentsContent, .armesContent, .cartesContent, .ranksContent {
        display: flex;
        align-items: center;
    }

    .cartesContent, .ranksContent {
        flex-direction: row-reverse;
    }

    .imageSize, .imageImmortalSize {
        width: 100%;
    }
    
}